#map.map-div {
    position: relative;
    display: block;

}

body .container-fluid{
    background-color: #cf022b;
    height:100%;
}

.col-md-6.list-box{
    height:50%;
    overflow: hidden;
}

@media (min-width: 992px){
    .col-md-6.list-box {
        
    }
   
}


.col-md-6.list-box  .btn.btn-default{
    margin:1%;
}

.overlay{
    background-color: red;
    opacity: 0.6;
    height:auto;
    width:auto;
    position: relative;
    padding:5px;
    border-radius: 3px;
    color:black;

}

.btn.btn-default.btn-gmaps{
    display:none;
}